.modal .pro {
	position: relative;
}
.modal .proCate ul {
	position: absolute;
	top: 34px;
	right: 0;
	z-index: 666;
	width: 100%;
	list-style: none;
	padding-left: 0;
	border: 1px solid #ccc;
    border-top: transparent;
	background-color: #fff;
	display: none;
}
.modal .proCate ul li {
	line-height: 32px;
	text-indent: 12px;
	border-bottom: 1px solid #ddd;
	color: #8a6d3b;
	font-size: 12px;
}
.modal .proCate ul li:hover {
	background-color: #ECF0F1;
	cursor: pointer;
}
.picCateSelect {
	padding-top: 200px;
}