/* 产品列表 */
.glyphicon {
  margin-right: 5px;
}
.item {
  cursor: pointer;
}
.thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
  transition: all 0.3s ease;
}
.thumbnail:hover {
    box-shadow: 0 0 6px rgba(0,0,0,0.15); 
}
.item.list-group-item {  /* 单行列表时候的样式 */
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover,
.item.list-group-item:hover {
  background: #428bca;
}

.item.list-group-item .list-group-image {
  margin-right: 10px;
}

.item.list-group-item .thumbnail {
  margin-bottom: 0px;
}

.item.list-group-item .caption {
  padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
  background: #eeeeee;
}

.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}

.item.list-group-item img {
  float: left;
}

.item.list-group-item:after {
  clear: both;
}
.list-group-item-heading {
  font-weight: 600;
}
.list-group-item-text {
  margin: 0 0 11px;
}
/* 产品表列表 */
.Product-list {
  margin-top: 30px;
}
.Product-list .well {
    transition:all 0.3s ease; 
    box-shadow:none;
}