<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>批量表选择图片</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/index.css" rel="stylesheet">
    <link href="css/picUpload.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">        
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .textLeft {
            text-align: left!important;
        }
        .table th,.table td {
            text-align: center;
            vertical-align: middle!important;
        }
        .item {
            margin-bottom: 5px;
        }
        .item .label {
            padding: .4em .6em .4em;
            line-height: 24px;
            cursor: pointer;
        }
        .tree2 {
            margin-top: 5px;
        }
        .text-white {
            color: #fff;
        }
        .bordered {
            border-right: 1px solid #14714f;
        }
    </style>
</head>
    <body>
        <!-- 顶部区域 -->
        <div class="container-fluid header-fluid-top">
            <div class="row">
                <div class="container header-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <a href="#">
                                <img src="images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 导航 -->
        <div class="navbar navbar-inverse nav-fluid-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" href="Table-batch.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])">批量表首页</a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        
                    </ul>
                </div>
            </div>
        </div>

        <!-- 主内容区域 -->

        <!-- 步骤 -->
        <div class="container marginTop">
            <div class="row">
                <div class="container">
                    <div class="row form-group">
                        <div class="col-md-12 col-xs-12">
                            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                                <li class="disabled">
                                    <a href="javascript:">
                                        <h3 class="list-group-item-heading">第一步</h3>
                                        <p class="list-group-item-text">
                                            <h4>创建表格</h4>
                                            <i class="fa fa-table fa-3x"></i>
                                        </p>
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a href="javascript:">
                                        <h3 class="list-group-item-heading">第二步</h3>
                                        <p class="list-group-item-text">
                                            <h4>编辑产品</h4>
                                            <i class="fa fa-edit fa-3x"></i>
                                        </p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="javascript:">
                                        <h3 class="list-group-item-heading">第三步</h3>
                                        <p class="list-group-item-text">
                                            <h4>选择图片</h4>
                                            <i class="fa fa-file-image-o fa-3x"></i>
                                        </p>
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a href="javascript:">
                                        <h3 class="list-group-item-heading">第四步</h3>
                                        <p class="list-group-item-text">
                                            <h4>上传图片</h4>
                                        </p>
                                        <i class="fa fa-cloud-upload fa-3x"></i>
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a href="javascript:">
                                        <h3 class="list-group-item-heading">第五步</h3>
                                        <p class="list-group-item-text">
                                            <h4>完成生效</h4>
                                        </p>
                                        <i class="fa fa-check fa-3x"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4><b>选择图片</b></h4>
                        </div>
                        <div class="panel-body">
                            <!-- 产品批量表信息 -->
                            <div class="col-md-12">
                                <h4 class="text-primary">批量表信息</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <label class="text-primary">表格编号：</label>
                                            <span class="text-muted">{{tableInfo.form_no}}</span>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <label class="text-primary">产品类目：</label>
                                            <span class="text-muted">{{tableInfo.name}}</span>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <label class="text-primary">使用模板:</label>
                                            <span class="text-muted">{{tableInfo.tempname}}</span>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <label class="text-primary">站点:</label>
                                            <span class="text-muted">{{tableInfo.productCount}}</span>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <label class="text-primary">客户名称:</label>
                                            <span class="text-muted">{{tableInfo.client_name}}</span>
                                        </p>
                                    </div>
                                    <div class="col-md-12">
                                        <p>
                                            <label class="text-primary">产品数量统计:</label>
                                            <span class="text-muted">{{tableInfo.productCount}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 图片选择条件 -->
                            <div class="col-md-12 marginTop">
                                <h4 class="text-primary">图片选择条件</h4>
                                <hr>
                                <p class="clearfix">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 textLeft control-label text-primary">图片目录:</label>
                                            <div class="col-sm-2">
                                                <input type="text" v-model="selectedPic" class="form-control" placeholder="选择目录" readonly>
                                            </div>
                                            <div class="col-sm-1">
                                                <button @click="selectPicfolder" class="btn btn-default btn-sm">选择目录</button>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                                <p class="clearfix">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 textLeft control-label text-primary">图片、产品重用比:</label>
                                            <div class="col-sm-1">
                                                <select v-model="pic_rate" class="form-control">
                                                    <option selected>1</option>
                                                    <option >2</option>
                                                    <option >3</option>
                                                    <option >4</option>
                                                    <option >5</option>
                                                    <option >6</option>
                                                    <option >7</option>
                                                    <option >8</option>
                                                    <option >9</option>
                                                    <option >10</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-1">
                                                <select v-model="pro_rate" class="form-control">
                                                    <option selected>1</option>
                                                    <option >2</option>
                                                    <option >3</option>
                                                    <option >4</option>
                                                    <option >5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                                <p class="clearfix">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 textLeft control-label text-primary">
                                                图片重用周期(月):
                                            </label>
                                            <div class="col-sm-1">
                                                <select v-model="re_date" class="form-control">
                                                    <option >1</option>
                                                    <option >2</option>
                                                    <option selected>3</option>
                                                    <option >4</option>
                                                    <option >5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                                <p class="clearfix">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 textLeft control-label text-primary">图片类型:</label>
                                            <div class="col-sm-2">
                                                <select v-model="file_type" class="form-control">
                                                    <option value="jpg" selected>jpg</option>
                                                    <option value="png">png</option>
                                                    <option value="gif">gif</option>
                                                    <option value="all">全部</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                                <p class="text-center">
                                    <div class="col-sm-3 col-sm-offset-2">
                                        <button @click="searchPic" class="btn btn-info" :disabled="getPic" >自动选图</button>
                                        <button @click="resetData" class="btn btn-default">重置</button>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm clearfix">
                        <p>
                            <b class="text-primary">自动选图结果</b>
                        </p>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-md-2">
                                <label class="label label-primary">图片需求量:</label>
                                <span class="text-muted">{{count}}</span>
                            </div>
                            <div class="col-md-2">
                                <label class="label label-primary">可用图片量:</label>
                                <span class="text-muted">{{num_now}}</span>
                            </div>
                            <div class="col-md-2">
                                <label class="label label-warning">图片不足数:</label>
                                <span class="text-warning">{{not_enough}}</span>
                            </div>
                        </div>
                    </div>
                    <div v-show="not_enough>0" class="well sell-sm clearfix">
                        <div class="col-md-12">
                            <a class="btn btn-primary" href="pic-category.html" target="_blank" >        前往图片库
                            </a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b class="text-primary">图片预选列表</b>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th>序号</th>
                                    <th>文件名</th>
                                    <th>标题</th>
                                    <th>图片类型</th>
                                    <th>图片大小</th>
                                    <th>图片尺寸(宽X高)</th>
                                    <!-- <th>操作</th> -->
                                </tr>
                                <template v-for="list in picData">
                                    <tr v-if="$index <= 9">
                                        <td>{{$index+1}}</td>
                                        <td>{{list.file_name}}</td>
                                        <!-- <td>
                                           <b v-for="tag in list.tags">{{tag}}</b> 
                                        </td> -->
                                        <td>{{list.title}}</td>
                                        <td>{{list.file_type}}</td>
                                        <td>{{list.file_size | sizeCounter}}</td>
                                        <td>{{list.width}}X{{list.height}}</td>
                                        <!-- <td>
                                            <button class="btn btn-danger">删除</button>
                                        </td> -->
                                    </tr>
                                </template>
                                <tr v-show="picData.length>10">
                                    <td colspan="6"><b>......</b></td>
                                </tr>
                            </table>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-5">
                                    <!-- <a class="btn btn-info" target="_blank" href="TableWorkflow-selectPic-seeMore.html" >查看更多</a> -->
                                    <!-- <a class="btn btn-success" href="TableWorkflow-upload.html" >上传图片</a> -->
                                    <button @click="NextStep" class="btn btn-default" :disabled="NextStepStatus">
                                        去上传图片
                                    </button>
                                    <button v-show="tableInfo" class="btn btn-default" @click="takeBack">撤销</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal selectPic fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h4 class="modal-title text-center">选择模板</h4>
                        <button type="button" class="close close-positon" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <ul class="tree">
                                <tree
                                    class="item"
                                    :pictree="pictree">
                                </tree>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 图片树形目录template -->
        <script type="text/x-template" id="pic-template">
            <li>
                <div
                    class="label label-primary"
                    :class="{bold: isFolderP}"
                    v-show="pictree.id"
                    @click="toggle(pictree)">
                    <span class="glyphicon glyphicon-folder-close" v-show="isFolderP"></span>
                    <span class="glyphicon glyphicon-file" v-show="!isFolderP"></span>
                    {{pictree.cn_name}}
                    {{pictree.en_name}}
                    <b v-show="pictree.id">图片数量:{{pictree.picture_count}}</b>
                    {{pictree.warning}}
                    <span class="text-white" v-if="isFolderP">[{{open ? '-' : '+'}}]</span>
                </div>
                <p v-show="!pictree.id">没有图片目录</p>
                <ul class="tree2" v-show="open" v-if="isFolderP">
                    <tree
                        class="item"
                        v-for="pictree in pictree.children"
                        :pictree="pictree">
                    </tree>
                </ul>
            </li>
        </script>

        <div class="container">
            <div class="row">
                <!-- <pre>{{$data|json}}</pre> -->
            </div>
        </div>

        <!-- 页脚 -->
        <div class="container-fluid footer-fluid">
            <div class="contaier">
                <div class="row">
                    <div class="col-lg-12">
                        © All rights reserved 深圳福克斯德信息咨询有限公司
                    </div>
                </div>
            </div>
        </div>

        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="js/jquery.js"></script>
        <script src="js/vue.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="js/bootstrap.min.js"></script>
        <script src='js/layer.js'></script>
        <script src='js/batch-table-selectPic.js'></script>
    </body>
</html>