<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>批量表编辑</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/index.css" rel="stylesheet">
    <link href="css/picUpload.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">        
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .tableDetail label+span {
            vertical-align: middle;
            padding-left: 10px;
        }
        .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
            min-width: 250px;
            vertical-align: middle;
            position: relative;
        }
        .table tr th:first-child {
            min-width: 50px!important;
        }
        .table tr td:first-child {
            min-width: 50px!important;
        }
        .table tr th:last-child {
            min-width: 50px!important;
        }
        .table tr td:last-child {
            min-width: 50px!important;
        }
        .table>tbody>tr.change>td {
            background-color: #ECF0F1;
        }
        .clickTochange {
            text-decoration: none;
            border-bottom: dashed 1px #0088cc;
        }
        .td-input {
            position: absolute;
            top: -42px;
            left: 0;
            margin-bottom: 0;
            background-color: #fff;
            display: none;
        }
        .td-input > .input-group {
            margin: 6px 10px;
        }
        .td-input button {
            color: #fff;
            margin-right: 10px;
        }
        .td-input > i {
            position: absolute;
            bottom: -9px;
            left: 42%;
            color: #fff;
        }
        .tableDetail .label {
            font-size: 90%;
        }
        #table {
            padding-left: 20px;
            padding-right: 20px;
        }
        .topContent {
            position: fixed;
            right: 0;
            left: 0;
            z-index: 1030;
            background-color: #f5f5f5;
            border-bottom: 1px solid #ccc;
        }
        .pullUP {
            color: #777;
            position: absolute;
            bottom: -26px;
            left: 50%;
            margin-left: -20px;
            width: 40px;
            height: 26px;
            background-color: rgba(221, 221, 221, .8);
            text-align: center;
            line-height: 34px;
            cursor: pointer;
        }
        .pullDown {
            color: #777;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -20px;
            width: 40px;
            height: 26px;
            background-color: rgba(221, 221, 221, .8);
            text-align: center;
            line-height: 34px;
            cursor: pointer;
            z-index: 6;
        }
        .tableCont {
            overflow-x: auto;
        }
    </style>
</head>
    <body>
        <div class="pullDown">
            <i class="fa fa-2x fa-angle-down" aria-hidden="true"></i>
        </div>

        <!-- 顶部容器 -->
        <div class="topContent">
            <div class="pullUP">
                <i class="fa fa-2x fa-angle-up" aria-hidden="true"></i>
            </div>

            <!-- 顶部区域 -->
            <div class="container-fluid header-fluid-top">
                <div class="row">
                    <div class="container header-top">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <a href="#">
                                    <img src="images/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 导航 -->
            <div class="navbar navbar-inverse nav-fluid-top">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm" href="Table-batch.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])">批量表首页</a>
                    </div>
                    <div class="navbar-collapse collapse" role="navigation">
                        <ul class="nav navbar-nav">
                            
                        </ul>
                    </div>
                </div>
            </div>
                    
            <!-- 步骤 -->
            <div class="container marginTop">
                <div class="row">
                    <div class="container">
                        <div class="row form-group">
                            <div class="col-md-12 col-xs-12">
                                <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                                    <li class="disabled">
                                        <a href="javascript:">
                                            <h3 class="list-group-item-heading">第一步</h3>
                                            <p class="list-group-item-text">
                                                <h4>创建表格</h4>
                                                <i class="fa fa-table fa-3x"></i>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="javascript:">
                                            <h3 class="list-group-item-heading">第二步</h3>
                                            <p class="list-group-item-text">
                                                <h4>编辑产品</h4>
                                                <i class="fa fa-edit fa-3x"></i>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="disabled">
                                        <a href="javascript:">
                                            <h3 class="list-group-item-heading">第三步</h3>
                                            <p class="list-group-item-text">
                                                <h4>选择图片</h4>
                                                <i class="fa fa-file-image-o fa-3x"></i>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="disabled">
                                        <a href="javascript:">
                                            <h3 class="list-group-item-heading">第四步</h3>
                                            <p class="list-group-item-text">
                                                <h4>上传图片</h4>
                                            </p>
                                            <i class="fa fa-cloud-upload fa-3x"></i>
                                        </a>
                                    </li>
                                    <li class="disabled">
                                        <a href="javascript:">
                                            <h3 class="list-group-item-heading">第五步</h3>
                                            <p class="list-group-item-text">
                                                <h4>完成生效</h4>
                                            </p>
                                            <i class="fa fa-check fa-3x"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 选择显示个数 -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well well-sm tableSelect">
                            <strong class="text-primary">选择显示批量表主体个数</strong>　
                            <div class="btn-group">
                                <button @click="selectNum1" class="btn btn-default"><i class="fa fa-th-large"></i>10</button>
                                <button @click="selectNum2" class="btn btn-default"><i class="fa fa-table"></i>15</button>
                                <button @click="selectNum3" class="btn btn-default"><i class="fa fa-th"></i>20</button>
                            </div>　
                            <span class="text-primary">当前展示个数:{{pageSize}}</span>
                        </div>      
                    </div>
                </div>
            </div>

            <!-- 资料表信息 -->
            <div class="container-fluid tableDetail">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <h3 class="text-success">批量表录入</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="label label-success">表格编号</label>
                                    <span class="text-muted">{{info.form_no}}</span>
                                </div>
                                <div class="col-md-3">
                                    <label class="label label-success">表格名称</label>
                                    <span class="text-muted">{{info.title}}</span>
                                </div>
                                <div class="col-md-2">
                                    <label class="label label-success">所属类目</label>
                                    <span class="text-muted">{{info.name}}</span>
                                </div>
                                <div class="col-md-2">
                                    <label class="label label-success">使用的模板</label>
                                    <span class="text-muted">{{info.tempname}}</span>
                                </div>
                                <div class="col-md-2">
                                    <label class="label label-success">所属客户</label>
                                    <span class="text-muted">{{info.client_name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- component template -->
        <script type="text/x-template" id="grid-template">
            <div class="container-fluid">
                <div class="row">
                    <div>
                        <div class="">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>
                                            操作
                                        </th>
                                        <th v-for="key in columns">
                                            {{key | capitalize}}
                                        </th>
                                        <th>序号</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template v-for="entry in data">
                                        <!-- 主体展示方式 -->
                                        <template v-if="entry.parent_id==0" track-by="product_id">
                                            <tr class="info" :title="$index+1" >
                                                <td class="text-center">{{$index+1}}</td>
                                                <td>
                                                    <button v-on:click="addline(entry,$index)" v-show="entry.parent_id==0" class="btn btn-success">主体</button>
                                                    <button v-on:click="addchange(entry,$index)" v-show="entry.parent_id==0" class="btn btn-info">变体</button>
                                                    <button v-on:click="remove(entry,$index)" class="btn btn-danger">删除</button>
                                                </td>
                                                <td v-for="key in columns">
                                                    <input type="text" v-model="entry[key]" class="form-control" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="111">
                                                </td>
                                                <td class="text-center">{{$index+1}}</td>
                                            </tr>
                                        </template>
                                         <!-- 变体展示方式 -->
                                        <template v-else track-by="product_id">
                                            <tr class="warning" :title="$index+1">
                                                <td class="text-center">{{$index+1}}</td>
                                                <td>
                                                    <button v-on:click="addline(entry,$index)" v-show="entry.parent_id==0" class="btn btn-success">主体</button>
                                                    <button v-on:click="addchange(entry,$index)" v-show="entry.parent_id==0" class="btn btn-info">变体</button>
                                                    <button v-on:click="remove(entry,$index)" class="btn btn-danger">删除</button>
                                                </td>
                                                <td v-for="key in columns">
                                                    <input type="text" v-model="entry[key]" class="form-control" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="222">
                                                </td>
                                                <td class="text-center">{{$index+1}}</td>
                                            </tr>
                                        </template> 
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        
        <div id="table" style="padding-top: 720px;">
            <demo-grid
            :data="gridData"
            :columns="gridColumns">
            </demo-grid>
        </div>

        <div class="container">
            <div v-show="countPage>1" class="row">
                <div class="alert alert-danger text-center" role="alert">
                    如果对表格做出了修改请一定要【暂存】后再进行翻页
                </div>
                <div class="col-md-12 text-center">　　
                    <span class="text-warning">总产品资料数:<b class="text-muted">{{countNum}}</b></span>　　
                    <span class="text-warning">每页展示主体个数:<b class="text-muted">{{pageSize}}</b></span>　　
                    <span class="text-warning">总页数:<b class="text-muted">{{countPage}}</b></span>　　
                    <span class="text-warning">当前页:<b class="text-muted">{{pageNow}}</b></span>　　
                </div>
                <hr>
                <hr>
                <div class="col-md-12 text-center">
                    <button :disabled="preBtn" @click="goPre" class="btn btn-default">上一页</button>
                    <button :disabled="nextBtn" @click="goNext" class="btn btn-default">下一页</button>
                    <div class="form-group" style="display:inline-block;">
                        <input type="number" v-model="jump" min="1" class="form-control" style="width:80px;">
                    </div>
                    <button :disabled="jumpBtn" @click="goJump" class="btn btn-info" style="vertical-align: middle;">跳转</button>
                </div>
                <hr>
                <hr>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-12 text-center marginTop">
                    <select class="form-control" v-model="selectCheck" style="display:inline-block;width:200px;padding-top:3px;">
                        <option value="">选择检查项</option>
                        <option v-for="op in gridColumns">{{op}}</option>
                    </select>
                    <button class="btn btn-default" @click="checkData" :disabled="checkDataBtn" >重复检查</button>
                    <button @click="sendMsg" class="btn btn-primary">提交</button>
                    <button @click="saveMsg" class="btn btn-info">暂存</button>
                    <button class="btn btn-default" @click="takeBack">撤销</button>
                </div>
            </div>
        </div>
        
        <!-- 回到顶部 -->
        <div class="scrollToTop">
            <i class="fa fa-3x fa-angle-up" aria-hidden="true"></i>
        </div>

        <div class="container">
            <div class="row">
                <hr>
                <!-- <pre>{{$data|json}}</pre> -->
            </div>
        </div>


        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="js/jquery.js"></script>
        <script src="js/vue.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="js/bootstrap.min.js"></script>
        <script src='js/layer.js'></script>
        <script src='js/batch-table-edit.js'></script>
    </body>
</html>