<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>客户管理</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">        
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .table th,.table td {
            text-align: center;
            vertical-align: middle!important;
            min-width: 45px;
        }
        .table td .btn {
            margin-bottom: 5px;
        }
        .modal-content .form-control {
            border-radius: 0;
        }
    </style>
</head>
    <body>
        <!-- 顶部区域 -->
        <div class="container-fluid header-fluid-top">
            <div class="row">
                <div class="container header-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <a href="#">
                                <img src="images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 导航 -->
        <div class="navbar navbar-inverse nav-fluid-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" href="javascript:" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])">福克斯德</a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="##" data-toggle="dropdown" class="dropdown-toggle">产品表格<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="template.html">资料表模板</a></li>
                                <li><a href="Table-info.html">资料表</a></li>
                                <li><a href="template-batch-list.html">批量表模板</a></li>
                                <li><a href="Table-batch.html">批量表</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="##" data-toggle="dropdown" class="dropdown-toggle">图片<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="pic-category.html">图片库</a></li>
                                <li><a href="pic-trash.html">回收站</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="##" data-toggle="dropdown" class="dropdown-toggle">资源<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="customer.html">客户</a></li>
                                <li><a href="admin-category.html">产品类目</a></li>
                                <li><a href="upcUpload.html">UPC</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="##" data-toggle="dropdown" class="dropdown-toggle">系统<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="Searchlog.html">日志</a></li>
                                <li><a href="partition.html">数据库</a></li>
                                <li><a href="FileManager.html">文件管理器</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid marginTop">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4><b>客户管理</b></h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <button @click="addTable" class="btn btn-info btn-sm">增加客户</button>
                                    <button class="btn btn-danger btn-sm" @click="removeSelect" :disabled="deleteAll">删除</button>
                                    <button class="btn btn-default btn-sm" @click="Reflesh">刷新</button>
                                </div>
                                <p class="text-warning"><b>总客户数:{{cus_count}}</b></p>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr class="info">
                                            <th>序号</th>
                                            <th>选择</th>
                                            <th>客户名</th>
                                            <th>英文名</th>
                                            <th>公司</th>
                                            <th>电话</th>
                                            <th>邮箱</th>
                                            <th>地址</th>
                                            <th>客户编号</th>
                                            <th>操作</th>
                                        </tr>
                                        <template v-for="table in cusData">
                                            <tr v-if="$index%2==0" class="warning">
                                                <td>{{$index | ListNum}}</td>
                                                <td>
                                                    <input type="checkbox" v-model="table.checked" class="form-control">
                                                </td>
                                                <td>{{table.custom_name}}</td>
                                                <td>{{table.en_name}}</td>
                                                <td>{{table.company}}</td>
                                                <td>{{table.mobile}}</td>
                                                <td>{{table.email}}</td>
                                                <td>{{table.address}}</td>
                                                <td>{{table.custom_number}}</td>
                                                <td>
                                                    <button class="btn btn-info btn-xs" @click="edit(table,$index)" >编辑</button>
                                                    <button class="btn btn-danger btn-xs" @click="removeThis(table)">删除</button>
                                                </td>
                                            </tr>
                                            <tr v-else>
                                                <td>{{$index | ListNum}}</td>
                                                <td>
                                                    <input type="checkbox" v-model="table.checked" class="form-control">
                                                </td>
                                                <td>{{table.custom_name}}</td>
                                                <td>{{table.en_name}}</td>
                                                <td>{{table.company}}</td>
                                                <td>{{table.mobile}}</td>
                                                <td>{{table.email}}</td>
                                                <td>{{table.address}}</td>
                                                <td>{{table.custom_number}}</td>
                                                <td>
                                                    <button class="btn btn-info btn-xs" @click="edit(table,$index)" >编辑</button>
                                                    <button class="btn btn-danger btn-xs" @click="removeThis(table)">删除</button>
                                                </td>
                                            </tr>
                                        </template>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-2 col-md-offset-4 text-right">
                                <button class="btn btn-default" @click="preP" :disabled="prePage">上一页</button>
                                <button class="btn btn-default" @click="nextP" :disabled="nextPage">下一页</button>
                            </div>
                            <div class="col-md-1">
                                <input type="number" min="1" v-model="jumpPage" placeholder="页码" class="form-control" style="width: 80px;">
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <button @click="jumpP" class="btn btn-info" :disabled="jumpBtn" >跳转</button>
                                    <label class="text-warning">当前页数:{{pageNow}}</label>　
                                    <label class="text-warning">总页数:{{countPage}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <!-- <pre>{{$data|json}}</pre> -->
            </div>
        </div>
        
        <!-- 添加客户 -->
        <div class="modal addTable fade" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h4 class="modal-title text-center">添加客户</h4>
                        <button type="button" class="close close-positon" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">客户名</label>
                                            <div class="col-md-8">
                                                <input type="text" v-model="addNew.custom_name" placeholder="客户名" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">英文名</label>
                                            <div class="col-md-8">
                                                <input type="text" v-model="addNew.en_name" placeholder="英文名" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">公司</label>
                                            <div class="col-md-8">
                                                <input type="text" v-model="addNew.company" placeholder="公司名称" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">电话</label>
                                            <div class="col-md-8">
                                                <input type="text" v-model="addNew.mobile"  placeholder="电话或手机号" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">邮箱</label>
                                            <div class="col-md-8">
                                                <input type="text" v-model="addNew.email" placeholder="邮箱地址" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">地址</label>
                                            <div class="col-md-8">
                                                <input type="text" v-model="addNew.address" placeholder="地址" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="alert alert-info" role="alert">客户名、英文名和公司名为必填</div>
                                    <div class="col-md-2 col-md-offset-5">
                                        <button @click="subTable" class="btn btn-success">提交</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 编辑客户 -->
        <div class="modal editTable fade" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h4 class="modal-title text-center">编辑客户</h4>
                        <button type="button" @click="cancel" class="close close-positon"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">客户名</label>
                                            <div class="col-md-8">
                                                <input type="text" v-model="editOne.custom_name" placeholder="客户名" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">英文名</label>
                                            <div class="col-md-8">
                                                <input type="text" v-model="editOne.en_name" placeholder="英文名" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">公司</label>
                                            <div class="col-md-8">
                                                <input type="text" v-model="editOne.company" placeholder="公司名称" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">电话</label>
                                            <div class="col-md-8">
                                                <input type="text" v-model="editOne.mobile"  placeholder="电话或手机号" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">邮箱</label>
                                            <div class="col-md-8">
                                                <input type="text" v-model="editOne.email" placeholder="邮箱地址" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">地址</label>
                                            <div class="col-md-8">
                                                <input type="text" v-model="editOne.address" placeholder="地址" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="alert alert-info" role="alert">客户名、英文名和公司名为必填</div>
                                    <div class="col-md-2 col-md-offset-5">
                                        <button @click="subEdit" class="btn btn-success">保存</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 页脚 -->
        <div class="container-fluid footer-fluid">
            <div class="contaier">
                <div class="row">
                    <div class="col-lg-12">
                        © All rights reserved 深圳福克斯德信息咨询有限公司
                    </div>
                </div>
            </div>
        </div>

        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="js/jquery.js"></script>
        <script src="js/vue.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="js/bootstrap.min.js"></script>
        <script src='js/layer.js'></script>
        <script src='js/customer.js'></script>
    </body>
</html>